 *{
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(253, 239, 239);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}